body{
	background: darkgreen;
}

h1{
	color: white;
}
/*h1{<a href="http://mharris13.github.io/interactivemedia323/classwebsite/a323classwebsite"</a>}*/

h2 {
	color: white;
	text-decoration: none;
}

/*h2 a:hover{
	background: white;
	color: darkgreen;
}*/

p{
	color: yellowgreen;
	text-decoration: none;
	font-size: 20px;
}

ul{
	color: yellow;
}

ul a{
	color: yellow;
	text-decoration: none;
}

ul a:hover{
	background: yellow;
	color: darkgreen;
}

