@font-face{
	font-family: greekfont;
	src: url(./fonts/dalek.ttf);
}

@font-face{
	font-family: junicode;
	src: url(./fonts/junicode.ttf);
}

#link18{
	font-family: junicode;
	font-size: 70px;
	color: #2e3546;
	vertical-align: middle;
	text-align: center;
	justify-content: center;
	padding: 0 40% 0 40%;
	letter-spacing: 10px;
	z-index: 1;
	overflow-x: hidden;
	z-index: 1;
}

a{
	font-family: greekfont;
	font-size: 60px;
  	color: #703529;
  	text-decoration: none;
  	z-index: 1;
}

a:hover{
  color: #283d70;
}

#gb7{
	display: inline-block;
	position: absolute;
	top: -175px;
	right: 500px;
	padding: 0;
	margin: 0;
	max-height: 900px;
	max-width: 1000px;
	overflow-x: hidden;
	z-index: -1;
}

#gb7_2{
	position: absolute;
	top: -175px;
	left: 500px;
	right: 0;
	margin: 0;
	padding: 0;
	max-height: 900px;
	max-width: 1000px;
	overflow-x: hidden;
	z-index: -1;
}

html{
	background: #c6934b;
}

