@font-face{
	font-family: greekfont;
	src: url(./fonts/dalek.ttf);
}

@font-face{
	font-family: junicode;
	src: url(./fonts/junicode.ttf);
}

#link20{
	font-size: 290px;
	position: absolute;
	z-index: 1;
	top: -70px;
}

#link20_2{
	font-family: junicode;
	font-size: 220px;
	color: #2e3546;
	position: absolute;
	margin-left: 10px;
	z-index: 2;
}

#link20_3{
	font-family: junicode;
	font-size: 110px;
	font-weight: bold;
	color: #2e3546;
	position: absolute;
	margin-left: 250px;
	margin-top: 200px;
	transform: rotate(90deg);
	letter-spacing: 35px;
	z-index: 2;
}

#link20_4{
	font-size: 170px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

a{
	font-family: greekfont;
	font-size: 60px;
  	color: #703529;
  	text-decoration: none;
}

a:hover{
  color: #283d70;
}

html{
	background: #c6934b;
}

