@font-face{
	font-family: greekfont;
	src: url(./fonts/dalekpinpointbold.ttf);
}

@font-face{
	font-family: junicode;
	src: url(./fonts/junicode.ttf);
}

#link25{
	font-family: junicode;
	font-size: 70px;
	color: #e0ddd5;
	position: absolute;
	top: 300px;
}

#link25_2{
	font-family: junicode;
	font-size: 70px;
	color: #e0ddd5;
	display: inline-block;
	position: relative;
	left: 1230px;
	top: 100px;
	transform: rotate(-45deg);
}

#link25_3{
	font-family: junicode;
	font-size: 70px;
	color: #e0ddd5;
	display: inline-block;
	position: relative;
	left: 1030px;
	top: 300px;
}

#link25_4{
	font-family: junicode;
	font-size: 70px;
	color: #e0ddd5;
	display: inline-block;
	position: relative;
	left: 570px;
	top: 660px;
	transform: rotate(45deg);
	mix-blend-mode: hard-light;
}

#link25_4:after{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent, gray);
}

a{
	font-family: greekfont;
	font-size: 60px;
  	color: #703529;
  	text-decoration: none;
}

a:hover{
  color: #283d70;
}

html{
	background: #c6934b;
}

