@font-face{
	font-family: greekfont;
	src: url(./fonts/dalekpinpointbold.ttf);
}

@font-face{
	font-family: junicode;
	src: url(./fonts/junicode.ttf);
}

#link3{
	font-family: junicode;
	font-size: 70px;
	color: #2e3546;
	transform: rotate(-90deg);
	position: absolute;
	top: 45%;
	left: -20%;
}

#link3_2{
	font-size: 450px;
	vertical-align: center;
	text-align: center;
	opacity: 50%;
}

a{
	font-family: greekfont;
	font-size: 60px;
 	color: #703529;
 	text-decoration: none;
}

a:hover{
  color: #283d70;
}

html{
	background: #c6934b;
}

