@font-face{
	font-family: greekfont;
	src: url(./fonts/dalekpinpointbold.ttf);
}

@font-face{
	font-family: junicode;
	src: url(./fonts/junicode.ttf);
}

#link8{
	font-family: junicode;
	font-size: 70px;
	color: #2e3546;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

a{
	font-family: greekfont;
	font-size: 60px;
  color: #703529;
  text-decoration: none;
}

a:hover{
  color: #283d70;
}

html{
	background: #c6934b;
}
