html{
	background: #2e3546;
}

#start{
	font-family: junicode;
	color: #e0ddd5;
	font-size: 200px;
	position: absolute;
	left: 630px;
	top: 120px;
	z-index: 2;
}

a{
	color: #e0ddd5;
	text-decoration: none;
	z-index: 2;
}

#start_2{
	font-family: junicode;
	color: #e0ddd5;
	font-size: 200px;
	position: absolute;
	left: 300px;
	top: 10px;
	z-index: 1;
}

#start_2::first-letter{
	font-size: 250%;
}

#start_3{
	font-family: junicode;
	color: #e0ddd5;
	font-size: 90px;
	position: absolute;
	left: 606px;
	top: 80px;
}

.star1{
	font-family: junicode;
	color: #e0ddd5;
	font-size: 50px;
	position: absolute;
	bottom: 35px;
}

.star1:hover span{
	display: none;
}

.star1:hover:after{
	content: "cite: Percy Jackson by Rick Riordan Book 1 pgs: 183-184";
	font-size: 20px;
}

.star2{
	font-family: junicode;
	color: #e0ddd5;
	font-size: 50px;	
	position: absolute;
	bottom: 0;
}
}

.star2:hover span{
	display: none;
}

.star2:hover:after{
	content: "cite: http://myths.e2bn.org/mythsandlegends/textonly20134-perseus-and-medusa.html";
	font-size: 20px;
}