.one{
	display: inline-block;
}

.two{
	display: inline-block;
}

.three{
	display: inline-block;
}

.second{
	display: inline-block;
}

.seven{
	display: inline-block;
}

.eight{
	display: inline-block;
}

.nine{
	display: inline-block;
}