.one{
	position: relative;
	left: 100px;
}

.two{
	position: relative;
	left: 200px;
}

.three{
	position: relative;
	left: 300px;
}

.four{
	position: relative;
	left: 400px;
}

.five{
	position: relative;
	left: 500px;
}

.six{
	position: relative;
	left: 600px;
}

.seven{
	position: relative;
	left: 700px;
}

.eight{
	position: relative;
	left: 800px;
}

.nine{
	position: relative;
	left: 900px;
}

.ten{
	position: relative;
	left: 1000px;
}

#nav{
	font-family: courier;
	font-size: 15px;
	text-align: right;
	position: absolute;
	top: 0.1px;
	left: 1300px;
}

a{
	color: black;
}

a:hover{
	color: lightblue;
}

li{
	list-style-type: none;
}
