a{
	font-size: 100px;
	font-family: impact, charcoal, san-serif;
	color: black;
}

a:hover{
	color: white;
}

#nav{
	font-family: courier;
	font-size: 15px;
	text-align: right;
	position: absolute;
	top: 0.1px;
	left: 1300px;
	color: black;
}

nav{
	color: black;
	text-decoration: underline;
}

nav:hover{
	color: lightblue;
	text-decoration-color: lightblue;
}

li{
	list-style-type: none;
}