html{
	background: black;
}

.main{
	writing-mode: vertical-lr;
	text-orientation: upright;
	position: relative;
	left: 400px;
}

.one, .three, .five, .seven, .nine{
	color: white;
}

.two, .four, .six, .eight, .ten{
	color: ;
	color: gray;
}

#nav{
	font-family: courier;
	font-size: 15px;
	text-align: right;
	position: absolute;
	top: 0.1px;
	left: 1300px;
}

a{
	color: white;
}

a:hover{
	color: lightblue;
}

li{
	list-style-type: none;
}