html{
	background: black;
}

.main{
	writing-mode: vertical-lr;
	text-orientation: upright;
	position: relative;
	left: 400px;
}

.one, .three, .five, .seven, .nine{
	color: white;
}

.two, .four, .six, .eight, .ten{
	color: ;
	color: gray;
}

