.container{
	line-height: 50%;
	letter-spacing: 10px;
}

#nav{
	font-family: courier;
	font-size: 15px;
	text-align: right;
	position: absolute;
	top: 0.1px;
	left: 1300px;
}

a{
	color: black;
}

a:hover{
	color: lightblue;
}

li{
	list-style-type: none;
}